{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if missoes %}
        
        <div class="container mt-3">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            {% for missao in missoes %}
                                <div class="card" style="width: 18rem; margin-left: 0.5rem; margin-top: 0.5rem; margin-bottom: 0.5rem;">
                                        {% if missao.foto_missao == "" %}
                                            <img class="card-img-top" src="{% static 'img/card.jpg' %}" alt="Card image cap">
                                        {% else %}
                                            <img class="card-img-top" src="{{ missao.foto_missao.url }}" alt="Card image cap">
                                        {% endif %}
                                        <div class="card-body">
                                        <h5 class="card-title">Missão: {{missao.nome_missao}}</h5>
                                        {% if user.is_superuser %}
                                        <a href="{% url 'missoes_edit' missao.id %}" class="btn btn-dark"> Editar</a>
                                        <a href="{% url 'missoes_delete' missao.id %}" class="btn btn-dark"> Apagar</a>
                                        {% else %}
                                        {% endif %}
                                        <a href="" class="btn btn-dark ">Info</a>
                                        </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>  
        </div>
    {% else %}
    {% endif%}
{% endblock %}